form input[type="text"]{
    border-radius: 10px;
    padding: 6px;
    width: 310px;
}
form input[type="submit"] {
  background-color: #464c46;
  border-radius: 10px;
  text-align: center;
  padding-bottom: 10px;
  width: 100%;
  margin: auto;
  margin-top: 1rem;
}
h1{
    margin-top: 5px ;
    font-family:monospace;
}
label{
    color: white;
    background-color: grey;
    padding: 5px;
    border-radius: 10px;
    text-align: left;
    margin: 6px;
}
#fundo1{
    padding-right: 29px;
}
#fundo2{
    padding-right: 21px;
}
a{
  position: absolute;
  background-color: #464c46;
  border-radius: 10px;
  text-align: center;
  padding-top: 5px;
  height: 40px;
  width: 50%;
  margin: auto;
  margin-top: 1rem;
  text-decoration: none;
  color: white;
}
a:hover{
    background-color: #332c2c;
}